This notebook allows you to play around with ages and to answer the questions like:
- when will Jim be 50% of Daniel's age?
- when will Jim be 15,000 days old?

In [1]:
import os, sys
import datetime as dt #documentation: https://docs.python.org/3.5/library/datetime.html

Calculate date from system

In [6]:
print(dt.date.today())

2018-09-15

Calculate datetime (object) now

In [7]:
now = dt.datetime.now()
print(now)

2018-09-15 15:07:59.960394

Create ordinal to store TODAY

In [8]:
ord_today = dt.date.today().toordinal()
print(ord_today)

736952

Determine my age in days

Create a function to calculate age in days and years based on DOB:

In [9]:
def calculate_age():

    # request user input birthdate 
    year = int(input("What year were you born?  "))
    month = int(input("What month (1-12) were you born?  "))
    day = int(input("What day (1-31) were you born?  "))

    # save to datetime and ordinal types    
    dob = dt.date(year, month, day)
    ord_dob = dob.toordinal()
    
    # get today:
    today = dt.date.today()
    ord_today = today.toordinal()
    
    # calculate age in days
    age_days = ord_today - ord_dob
    
    # formate age in years
    age =  (age_days / 365.25) 
    age_yrs = '{:.2f}'.format(age)
    print("You are", age_days, "days old or", age_yrs, "years old!")

In [10]:
calculate_age()

What year were you born?   1927
What month (1-12) were you born?   8
What day (1-31) were you born?   22

You are 33262 days old or 91.07 years old!

### Import Pandas, Numpy for interacting with DataFrames

In [11]:
import pandas as pd
import numpy as np

In [13]:
family = pd.Index(data=["Jim", "Catharine", "Daniel", "Molly"],name="Names")
family

Index(['Jim', 'Catharine', 'Daniel', 'Molly'], dtype='object', name='Names')

In [14]:
family.is_object

In [15]:
df = pd.DataFrame(data=None, index=family, columns=None)
df

Empty DataFrame
Columns: []
Index: [Jim, Catharine, Daniel, Molly]

In [16]:
sLength = len(family)
sLength

4

In [17]:
df["DOB"] = pd.Series(np.random.randn(sLength), index=family)
df

                DOB
Names
Jim       -0.261410
Catharine -0.641182
Daniel     0.140441
Molly     -0.503649

Replace these random numbers with real dates

In [18]:
df['DOB'] = pd.Series(np.array(['1983-04-13', '1982-09-19', '1946-10-07', '1949-10-23'], dtype='datetime64'), index=family)
df

                 DOB
Names
Jim       1983-04-13
Catharine 1982-09-19
Daniel    1946-10-07
Molly     1949-10-23

Sort values from oldest in ascending order.

In [19]:
df.sort_values(by='DOB', ascending=True)

                 DOB
Names
Daniel    1946-10-07
Molly     1949-10-23
Catharine 1982-09-19
Jim       1983-04-13

Use 'loc' funtion to isolate single row of df

In [40]:
df.loc['Jim']

DOB         1983-04-13 00:00:00
ord_dob                  711788
age_days                  25164
age_yrs                 68.8953
Name: Jim, dtype: object

In [38]:
df

                 DOB  ord_dob  age_days    age_yrs
Names
Jim       1983-04-13   711788     25164  68.895277
Catharine 1982-09-19   711788     25164  68.895277
Daniel    1946-10-07   711788     25164  68.895277
Molly     1949-10-23   711788     25164  68.895277

create a for-loop which calculates 'age_days' field

In [63]:
def calculate_age_df():

    # Get today in ordinal:
    today = dt.date.today()
    ord_today = today.toordinal()

    # Create lists to store the data
    ord_dob = []
    age_days = []
    age_yrs = []
#     
    
    for x in df['DOB']:
        
        ord_dob = x.toordinal()
#         age_days = ord_today - ord_dob
#         df['age_days'] = ord_today - ord_dob
        age_days.append(ord_today-ord_dob)
#         ord_dob.append(x.toordinal())
        print(ord_dob)

# Create a column from the list
    df['ord_dob'] = ord_dob
    df['age_days'] = age_days
# Calculate age in years year = datetime
    df['age_yrs'] =  (age_days / 365.25)  
#     age_yrs = '{:.2f}'.format(age)
# df
        
# from here: https://stackoverflow.com/questions/49821125/pandas-iterate-through-dataframe-and-calculate-difference-between-column-value

In [64]:
calculate_age_df()
df

724013
723807
710676
711788

TypeError: unsupported operand type(s) for /: 'list' and 'float'

In [42]:
# define columns of dataframe
# pd.DataFrame(data=None, index=family, columns='DOB', 'ord_dob', 'age_days', 'age_yrs')

In [43]:
# DOB = pd.Series(dtype=)

Create a list of family members whose birthdays you know.

In [46]:
data = ({'Name': ['Jim', 'Daniel', 'Catharine', 'Molly'], #input("Person's Name"),
    'Year': [1983, 1946, 1982, 1949],  # int(input("What year were you born?  ")),
    'Month': [4, 10, 9, 10],#int(input("What month (1-12) were you born?  ")),
    'Day': [13, 7, 19, 23], # int(input("What day (1-31) were you born?  "))
})

df2 = pd.DataFrame(data, columns=['Name', 'Year', 'Month', 'Day'],index=None)
    # save to datetime and ordinal types    
#     birthdate = dt.date(year, month, day)
#     ord_birthdate = birthdate.toordinal()

df2

        Name  Year  Month  Day
0        Jim  1983      4   13
1     Daniel  1946     10    7
2  Catharine  1982      9   19
3      Molly  1949     10   23

In [47]:
df2['DOB'] = dt.date(year, month, day)

NameError: name 'year' is not defined

Print Dad's ordinal & age days

Define Variables for While Loop

In [50]:
# calculate today's ordinal
ord_today = dt.datetime.today().toordinal()
print("Today's ordinal: ", ord_today)

ord_dad = dt.date(1946, 10, 7).toordinal()
print("Daniel's DOB ordinal: ", ord_dad)

ord_me = dt.date(1983, 4, 13).toordinal()
print("Jim's DOB ordinal: ", ord_me)

Today's ordinal:  736952
Daniel's DOB ordinal:  710676
Jim's DOB ordinal:  724013

In [59]:
def half_age(): # could possibly use parameters

    # calculate today's ordinal
    ord_today = dt.datetime.today().toordinal()
    ord_daniel = dt.date(1946, 10, 7).toordinal()
    ord_jim = dt.date(1983, 4, 13).toordinal()
        
    daniel_age_days = ord_today - ord_daniel
    jim_age_days = ord_today - ord_jim
    
    age_diff = daniel_age_days - jim_age_days
    
    while age_diff > jim_age_days:

    #   increment today:
        ord_today +=1
        todays_date = dt.date.fromordinal(ord_today)

    #   todays date
        daniel_age_days = ord_today - ord_daniel
        jim_age_days = ord_today - ord_jim
    
        age_diff = daniel_age_days - jim_age_days
    
    print("Today's date is :", todays_date)
    print("Today's age difference is: ", age_diff, " days, while Jim's age is: ", jim_age_days, " days.")

In [60]:
half_age()

Today's date is : 2019-10-18
Today's age difference is:  13337  days, while Jim's age is:  13337  days.